.public-header {
    height: 110px;
}

.public-header .header-logo {
    float: left;
    margin-top: 40px;
}

.public-header .header-logo a {
    height: 54px;
    width: 182px;
    background: url("../images/index-header-logo.png")
}

.public-header .header-nav {
    float: right;
    font-size: 14px;
}

.public-header .header-nav a {
    text-decoration: underline;
}

.public-header .header-nav .item {
    float: left;
    margin-top: 44px;
    margin-left: 50px;
}

.public-header .header-nav .item a {
    color: #333333;
}

.public-container {
    position: relative;
    margin: 0 auto;
    width: 1100px;
}

.public-footer {
    height: 218px;
    background: #3b3b3b;
    padding: 100px;
}

.public-footer .footer-col {
    margin-right: 60px;
    float: left;
    color: #fff;
    width: 230px;
    line-height: 1.8;
    font-size: 16px;
}

.public-footer .footer-col:last-child {
    margin-right: 0;
}

.public-footer .footer-logo a {
    height: 30px;
    width: 70px;
    margin-top: -10px;
    background: url("../images/index-footer-logo.png")
}