.public-header {
    height: 110px;
}

.public-header .header-logo {
    float: left;
    margin-top: 40px;
}

.public-header .header-logo a {
    height: 54px;
    width: 182px;
    background: url("../images/index-header-logo.png")
}

.public-header .header-nav {
    float: right;
    font-size: 14px;
}

.public-header .header-nav a {
    text-decoration: underline;
}

.public-header .header-nav .item {
    float: left;
    margin-top: 44px;
    margin-left: 50px;
}

.public-header .header-nav .item a {
    color: #333333;
}

.public-container {
    position: relative;
    margin: 0 auto;
    width: 1100px;
}

.public-footer {
    height: 318px;
    background: #3b3b3b;
    padding: 100px;
}
/* inline-height为何设置为1.8不理解 */
.public-footer .footer-col {
    margin-right: 60px;
    float: left;
    color: #fff;
    width: 230px;
    line-height: 1.8;
    font-size: 16px;
}
/* 已经全部使用了float：left为何还在使用last-chi如果去掉就会跑到第一列的下面 */
.public-footer .footer-col:last-child {
    margin-right: 0;
}

.public-footer .footer-logo a {
    height: 30px;
    width: 70px;
    margin-bottom: 34px;
    background: url("../images/index-footer-logo.png")
}

