html {
    overflow-y:auto;
}
html,body {
    height:100%;
}
html {
    display:block;
}
body,p,form,ul,li{
    margin:0;
    padding:0;
    list-style:none;
}
body {
    font:12px arial;
    background:#fff;
    display:block;
}

element.style {
    display:block;
}

.wrapper {
    min-width:810px;
    min-height:600px;
    position:relative;
    text-align:center;
}