<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>

<body>
    <div id="example">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-6 mt-5">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start " v-for="item in tasks">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ item.title }}</h5>
                                <small>{{item.createAt}}</small>
                            </div>
                            <p class="mb-1">{{ item.content }}</p>
                            <small v-if='item.completed'>已经完成</small>
                        </a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</body>

<script>
    var tasks = function () {
        let tasks = [];
        for (let i = 0; i < 10; i++) {
            tasks.push({
                title: 'task' + (i + 1),
                content: 'content' + (i + 1),
                completed: false,
                createAt: (new Date()).toString()
            });
        }
        return tasks;
    }();

    new Vue({
        el: '#example',
        data: {
            tasks: tasks
        },
        beforeUpdate() {
            console.log('a is: ' + this.a)
        },
    })

</script>


</html>