<!DOCTYPE html>
<html>

<head>
	<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>

<body>
	<div id="app">
		<button v-on:click="click">click</button>

		<button v-on:click="order(num)">命令</button>
		<button v-on:click="greet">命令</button>
</body>
<script>
	var vm = new Vue({
		el: "#app",
		data: {
			count: 0,
			num: 0,
			data: 0,
			word: "vue.js"
		},
		methods: {
			order: function (num) {
				this.num += 1;
				alert("you have click" + " " + this.num + " " + "times");
			},
			click: function () {
				alert("hello " + this.word);
				if (event) {
					alert(event.target.tagName);
				}
			}
		},
		computed: {
			greet: function () {
				alert("hello " + this.word);
				if (event) {
					alert(event.target.tagName);
				}
			}
		}
	});


</script>
<!-- <p>{{ message/cat()/news}}</p>
<p v-if="seen"></p>
<p v-bind:title="seen"></p>
<button v-once></button>
<p v-for="item in todos">{{item.text}}</p>
<button v-on:click="reverseMessage"></button>
<input v-mode="news"> -->
<!-- 
<input v-mode="news">
<p v-if="seen"></p>
<p v-for="item in todos">{{item.text}}</p>
-->
<!-- var data = { a: 1 }
var vm = new Vue({
  el: '#example',
  data: data
})

vm.$data === data // => true
vm.$el === document.getElementById('example') // => true

// $watch 是一个实例方法
vm.$watch('a', function (newValue, oldValue) {
  // 这个回调将在 `vm.a` 改变后调用
}) -->

</html>
<!-- 最近几天学习vue主要是学习了v-once,v-on,v-for,v-bind,v-if,v-model,
{{}},creat,computed,methods,creat?, component,-->
<!-- props,template -->
<!-- created,v-html -->
<!-- methods和computed的区别 -->
<!-- watch,get,set -->
<!-- <script>
	vm = new Vue({
		el: "#app",
		data: {
			message: "love",
			msg: "like"
		},
		methods: {
			cat: function () {
				//do something
			}
		},
		computed: {
			news: function () {
				//do something
			}
		}
	})

</script> -->
<!-- created用于一个实例被创建之后执行代码 -->

<!-- 那么多的answer如何做到各处正确的回答的，return什么时候需要，
 -->
<!-- active: this.isActive && !this.error, 
	'text-danger': this.error && this.error.type === 'fatal' 
什么意思？-->


<!-- v-bind针对style和class的几种用法，重点词汇是：对象，规则：易读，
 -->
<!-- 
 Handlebars 模板 是什么？
{{#if ok}}
<h1>Yes</h1>
{{/if}} -->

<!-- 一个字符串什么时候加双引号，什么
时候不加双引号 -->
<!-- v-on 点击事件之后给得响应，使用computed没有 
实验成功 -->